body {
    margin:0;
    padding:0;
    height: 100vh;
}
#particles-js {
    /*height:100%;*/
    background:#202020;
    /*
    top:0;
    left:0;
    bottom:0;
    z-index:0;
    */
}
#underwater{
 /*   background-color:#000;
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
  */
    background: radial-gradient(at top center, rgba(0, 51, 61, 0.95) 0%, rgba(0, 0, 0, 1) 80%);
}



h1 {
    z-index:10;
    color:#BBBBBB;
    position:absolute;
    margin:auto;
    top: 50%;
    text-align:center;
    width:100%;
}
.corner {
    z-index:10;
    color:#BBBBBB;
    position:absolute;
    margin:auto;
    top:2%;
    text-align:center;
    width:20%;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 525;
  font-style: normal;
  font-variation-settings: "wdth" 94.6;
  font-size:xx-large;
}

h2 {
    z-index:10;
    color:#BBBBBB;
    position:absolute;
    margin:auto;
    top:60%;
    text-align:center;
    width:100%;
    transition: ease-in-out, 0.2s;
}
.raleway-title {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 680;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size:65px;
  transition: ease-in-out, 0.2s;

}
.fredoka-h2 {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 525;
  font-style: normal;
  font-variation-settings: "wdth" 94.6;
  font-size:xx-large;
}
.fredoka-h2:hover {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 525;
  font-style: normal;
  font-variation-settings: "wdth" 94.6;
  font-size:xx-large;
  color:#EEEEEE;
}
.raleway-title:hover {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 680;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size:69px;
}